{
  "distSpecVersion": "1.1.0",
  "storage": {
    "rootDirectory": "/var/lib/zot",
    "dedupe": false,
    "storageDriver": {
      "name": "s3",
      "rootdirectory": "{{ s3_root_directory }}",
      "bucket": "{{ s3_bucket }}",
      "region": "{{ s3_region }}",
      "regionendpoint": "{{ s3_endpoint }}",
      "accesskey": "{{ s3_access_key }}",
      "secretkey": "{{ s3_secret_key }}",
      "secure": true
    }
  },
  "http": {
    "address": "0.0.0.0",
    "port": "5000"
  },
  "log": {
    "level": "info"
  },
  "extensions": {
    "events": {
      "enable": true,
      "sinks": [
        {
          "type": "http",
          "address": "http://zot-ephemeral-ttl:8080/events",
          "timeout": "5s"
        }
      ]
    }
  }
}
