name: Deploy to Heroku

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      HEROKU_API_KEY: ${{secrets.HEROKU_API_KEY}}
    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: heroku registry login
        run: heroku container:login

      - name: build registry
        run: docker build -t registry.heroku.com/ttlsh/web registry

      - name: push registry
        run: docker push registry.heroku.com/ttlsh/web

      - name: release registry
        run: heroku container:release -a ttlsh web

      - name: build nginx
        run: docker build -t registry.heroku.com/ttlsh-router/web nginx

      - name: push nginx
        run: docker push registry.heroku.com/ttlsh-router/web

      - name: release nginx
        run: heroku container:release -a ttlsh-router web

      - name: build hooks
        run: docker build -f hooks/Dockerfile.hooks -t registry.heroku.com/ttlsh-hooks/web hooks

      - name: push hooks
        run: docker push registry.heroku.com/ttlsh-hooks/web

      - name: release hooks
        run: heroku container:release -a ttlsh-hooks web

      - name: build reaper
        run: docker build -f hooks/Dockerfile.reap -t registry.heroku.com/ttlsh-hooks/reap hooks

      - name: push reaper
        run: docker push registry.heroku.com/ttlsh-hooks/reap

      - name: release reaper
        run: heroku container:release -a ttlsh-hooks reap

      - name: build blob reaper
        run: docker build -f Dockerfile.blob-reap -t registry.heroku.com/ttlsh-hooks/blob-reap registry

      - name: push blob reaper
        run: docker push registry.heroku.com/ttlsh-hooks/blob-reap

      - name: release blob reaper
        run: heroku container:release -a ttlsh-hooks blob-reap
