name: Deploy to Heroku

on:
  push:
    resolves:
      - "release registry"
      - "release hooks"
      - "release reaper"

jobs:
  only main branch:
    runs-on: ubuntu-latest
    uses: actions/bin/filter@main
    with:
      args: "branch main"
  
  heroku login:
    needs: only main branch
    uses: actions/heroku@main
    with:
      args: container:login
      secrets: 
       - ${{secrets.HEROKU_API_KEY}}

  build registry:
    needs: heroku login
    uses: actions/docker/cli@main
    with:
      args: "build -t registry.heroku.com/ttlsh/web registry"
  
  push registry:
    needs: build registry
    with:
      args: "push registry.heroku.com/ttlsh/web"

  release registry:
    needs: push registry
    uses: actions/heroku@main
    with:
      args: "container:release -a ttlsh web"
      secrets: 
       - ${{secrets.HEROKU_API_KEY}}

  build hooks:
    needs: heroku login
    uses: actions/docker/cli@main
    with:
      args: "build -f hooks/Dockerfile.hooks -t registry.heroku.com/ttlsh-hooks/web hooks"

  push hooks:
    needs: build hooks
    uses: actions/docker/cli@main
    with:
      args: "push registry.heroku.com/ttlsh-hooks/web"

  release hooks:
    needs: push hooks
    uses: actions/heroku@main
    with:
      args: "container:release -a ttlsh-hooks web"
      secrets:
        - ${{secrets.HEROKU_API_KEY}}
  
  build reaper:
    needs: heroku login
    uses: actions/docker/cli@main
    with:
      args: "build -f hooks/Dockerfile.reap -t registry.heroku.com/ttlsh-hooks/reap hooks"
    
  push reaper:
    needs: build reaper
    uses: actions/docker/cli@main
    with:
     args: "push registry.heroku.com/ttlsh-hooks/reap"
  
  release reaper:
    needs: push reaper
    uses: actions/heroku@main
    with:
      args: "container:release -a ttlsh-hooks reap"
      secrets:
        - ${{secrets.HEROKU_API_KEY}}
